<!DOCTYPE html>
<html>
<head>
<script src="//code.jquery.com/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <title>JS Bin</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset2">
        <h1>User:</h1>
        <ul>
          <li>
            <%=@man.name%> - 
            <a href="/show">show</a> |
            <a href="">edit</a> |
            <a href="">destroy</a> 
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>